.innerContent {
    padding-right: calc(28 * 3.5px);
    padding-left: calc(28 * 3.5px);

    @media (min-width: 60em) {
        padding-right: calc((4px * 20) * 3.5);
        padding-left: calc((4px * 20) * 3.5);
    }
}

.collectionGrid {
    display: grid;
    grid-column-gap: var(--spacing-large);
    column-gap: var(--spacing-large);
    grid-row-gap: var(--spacing-large);
    row-gap: var(--spacing-large);
    padding-top: var(--spacing-large);

    @media (min-width: 45em) {
        grid-row-gap: 60px;
        row-gap: 60px;
        grid-template-columns: repeat(2,1fr);
    }

    @media (min-width: 60em) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.collectionItem {
    min-width: 0;
    min-height: 0;
}

.image {
    display: block;
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: opacity .5s,transform .3s ease;
}

.collectionItemFooter {
    text-align: center;
    margin-top: 8px;
    font-family: var(--font-body);
    font-weight: 700;
    font-style: var(--font-body-style);
    line-height: var(--line-height-body-base);
    letter-spacing: var(--font-body-base-letter-spacing);
    word-break: break-word;
}

.innerFormulatedText {
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: -50px;

    @media (min-width: 60em) {
        padding-right: 80px;
        padding-left: 80px;
    }
}

.subHeading {
    max-width: 62rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.35rem;
}

.innerFeatures {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    @media (min-width: 60em) {
        grid-template-columns: repeat(4,1fr);
        display: flex;
        justify-content: space-evenly;
        margin: 50px 20px;
        width: 100%;
    }
}

.featureItem {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inlineFeatureImage {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
