.productItem {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.productItemMedia {
    position: relative;
    width: 290px;
    height: 290px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.productImage {
    display: block;
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    animation: 0.5s ease-out 0s 0.5 fadein;
}

.productBadges {
    z-index: 10;
    flex-shrink: 0;
    position: absolute;
    top: var(--spacing-medium-large);
    left: 50%;
    transform: translate(-50%);
    display: flex;
    white-space: nowrap;
    pointer-events: none;
    font-size: var(--font-size-body-x-small);
    line-height: var(--line-height-body-x-small);

    .productSoldOut {
        background-color: var(--color-background-sold-badge);
        color: var(--color-text-sold-badge);
    }

    .productItemBadge {
        display: flex;
        align-items: center;
        border-radius: 40px;
        height: var(--badge-height);
        padding: 4px 16px;
        color: #fff;
        box-shadow: 0 1px 1px #00000014;
        font-weight: var(--font-body-bold-weight);
    }
}


.productItemText {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    line-height: 1.56;
    font-weight: 400;
}

.productItemTitle {
    font-weight: 700;
    font-size: 24px;
    text-transform: var(--font-product-title-text-transform);
    letter-spacing: var(--font-product-title-base-letter-spacing);
}

.productDescription {
    width: auto;
    margin-top: 15px;
    font-style: italic;
}

.productPrice {
    font-weight: bold;
}