@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html,
body {
  font-family: var(--font-body);
  padding: 0;
  margin: 0;
  color: var(--color-text);
}

@font-face {
  font-family: "Nunito Sans";
  src: local("Nunito Sans"),
    url(../fonts/nunito-sans.regular.ttf) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Nunito Sans" bold;
  src: url(../fonts/nunito-sans.bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Nunito Sans" bold;
  src: url(../fonts/nunito-sans.extrabold.ttf);
  font-weight: 900;
}

a {
  color: inherit;
  text-decoration: none;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

:root {
  --color-text: #1a3b70;
  --color-text-meta: rgba(26, 59, 112, 0.6);
  --color-text-link: #1a3b70;
  --color-text-error: #c71b1b;
  --color-text-success: #21b646;
  --color-background: #ffffff;
  --color-background-transparent: rgba(255, 255, 255, 0.8);
  --color-border: #dddde1;
  --color-overlay: #181818;
  --color-overlay-transparent: rgba(24, 24, 24, 0.6);
  --color-background-meta: #f5f5f5;
  --color-background-darker-meta: #e8e8e8;
  --color-foreground-meta: rgba(26, 59, 112, 0.6);
  --color-border-input: #dddde1;
  --color-text-input: #1a3b70;
  --color-background-button: #ffffff;
  --color-background-button-hover: #005b7b;
  --color-text-button: #1a3b70;
  --color-icon: rgba(26, 59, 112, 0.4);
  --color-icon-darker: rgba(26, 59, 112, 0.6);
  --color-background-sale-badge: #00a7e1;
  --color-text-sale-badge: #ffffff;
  --color-background-sold-badge: #1a3b70;
  --color-text-sold-badge: #ffffff;
  --color-background-contrast: #f5f4f4;
  --color-background-meta-contrast: #ebe9e9;
  --color-background-darker-meta-contrast: #dfdcdc;
  --color-foreground-meta-contrast: rgba(26, 59, 112, 0.6);
  --color-text-contrast: #1a3b70;
  --color-text-meta-contrast: rgba(26, 59, 112, 0.6);
  --color-border-contrast: #1a3b70;
  --color-background-button-contrast: #ffffff;
  --color-background-button-hover-contrast: #cccccc;
  --color-text-button-contrast: #ffffff;
  --color-text-link-contrast: #000000;
  --color-text-header: #1a3b70;
  --color-background-header: #ffffff;
  --color-background-header-transparent: rgba(255, 255, 255, 0);
  --color-icon-header: #1a3b70;
  --color-shadow-header: rgba(0, 0, 0, 0.15);
  --color-background-footer: #ffffff;
  --color-text-footer: #1a3b70;
  --color-text-popover: #1c2232;
  --color-text-meta-popover: rgba(28, 34, 50, 0.6);
  --color-background-popover: #fdfdfd;
  --color-background-meta-popover: #f3f3f3;
  --color-background-darker-meta-popover: #e6e6e6;
  --color-background-button-popover: #ffffff;
  --color-background-button-hover-popover: #cccccc;
  --color-text-button-popover: #131313;
  --color-border-popover: #c2c5cc;
  --color-border-meta-popover: #8a909e;
  --button-style: none;
  --button-shape: 48px;
  --button-size: 48px;
  --button-size-large: 60px;
  --font-logo: "Nunito Sans", sans-serif;
  --font-logo-weight: 400;
  --font-logo-style: normal;
  --logo-font-size: 36px;
  --logo-text-transform: none;
  --logo-letter-spacing: 0em;
  --font-heading: "Nunito Sans", sans-serif;
  --font-heading-weight: 700;
  --font-heading-style: normal;
  --font-heading-light-weight: 400;
  --font-heading-text-transform: none;
  --font-heading-base-letter-spacing: -0.025em;
  --font-heading-base-size: 40px;
  --font-body: "Nunito Sans", sans-serif;
  --font-body-weight: 400;
  --font-body-style: normal;
  --font-body-italic: italic;
  --font-body-bold-weight: 700;
  --font-body-base-letter-spacing: 0em;
  --font-body-base-size: 15px;
  --font-body-base-line-height: 1.56;
  --font-product-title-text-transform: none;
  --font-product-title-base-letter-spacing: 0em;
  --font-size-heading-1-large: 53px;
  --line-height-heading-1-large: 44;
  --heading-font-size: 64px;
  --font-size-heading-1-base: 40px;
  --line-height-heading-1-base: 1.08;
  --font-size-heading-2-large: 30px;
  --line-height-heading-2-large: 1.22;
  --font-size-heading-2-base: 23px;
  --line-height-heading-2-base: 1.29;
  --font-size-heading-3-base: 20px;
  --line-height-heading-3-base: 1.33;
  --font-size-heading-4-base: 17px;
  --line-height-heading-4-base: 1.4;
  --font-size-body-large: 20px;
  --line-height-body-large: 1.5;
  --font-size-body-base: 15px;
  --line-height-body-base: 1.56;
  --font-size-body-small: 13px;
  --line-height-body-small: 1.75;
  --font-size-body-x-small: 12px;
  --line-height-body-x-small: 1.85;
  --payment-terms-background-color: #f5f5f5;
  --max-width: 1440px;
  --max-width-narrow: 747px;
  --flyout-width: 640px;
  --spacing-unit: 4px;
  --spacing-unit-half: 2px;
  --spacing-none: 0px;
  --spacing-extra-small: calc(var(--spacing-unit) * 2);
  --spacing-small: calc(var(--spacing-unit) * 3);
  --spacing-medium: calc(var(--spacing-unit) * 5);
  --spacing-medium-large: calc(var(--spacing-unit) * 7);
  --spacing-large: calc(var(--spacing-unit) * 10);
  --spacing-extra-large: calc(var(--spacing-unit) * 15);
  --spacing-extra-extra-large: calc(var(--spacing-unit) * 20);
  --spacing-extra-extra-extra-large: calc(var(--spacing-unit) * 25);
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  --z-index-bar: 300;
  --z-index-header: 500;
  --z-index-popup: 400;
  --z-index-lightbox: 1100;
  --z-index-modal: 1200;
  --z-index-theme-editor-offset: 2000;
  --space-outer: calc(var(--spacing-unit) * 20);
}

.section {
  margin: 80px 0;
  width: 100%;
}

.section__inner {
  padding-right: 80px;
  padding-left: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

p {
  margin: 0;
}

.ff-heading {
  font-family: var(--font-heading);
  font-weight: var(--font-heading-weight);
  font-style: var(--font-heading-style);
  letter-spacing: var(--font-heading-base-letter-spacing);
}

.button {
  cursor: pointer;
  margin-top: 32px;
  border-color: #1a3b70;
  background-color: #00a7e1;
  color: #ffffff;
  text-transform: none;
  letter-spacing: 0.01em;
  font-weight: 700;
  border-radius: 48px;
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
  margin-right: auto;
  padding: 18px 34px;
}

.button:hover {
  border-color: #005b7b;
  background-color: #005b7b;
}

.button-primay {
  cursor: pointer;
  border: 1px solid;
  margin-top: 10px;
  border-color: #1a3b70;
  background-color: #fff;
  color: #1a3b70;
  text-transform: var(--button-style);
  letter-spacing: 0.01em;
  font-weight: var(--font-body-bold-weight);
  border-radius: var(--button-shape);
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
  padding: 16px 28px;
  font-size: var(--font-size-body-small);
  line-height: var(--line-height-body-small);
  width: 100%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  right: 80px !important;
  top: 60px !important;
  z-index: 200;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap-left {
  position: absolute;
  height: 100%;
  left: 0 !important;
  top: 0 !important;
}

.bm-menu-wrap-left {
  position: absolute;
  height: 100%;
  right: 0 !important;
  top: 0 !important;
}

/* General sidebar styles */
.bm-menu-wrap-left .bm-menu {
  background: #ffffff;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-menu-wrap-left .bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bm-menu-wrap-right {
  top: 0;
  right: 0;
  position: absolute;
}

.bm-menu-wrap-right .bm-menu {
  background: #ffffff;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-font-smoothing: inherit;
  border: none;
  background: transparent;
  line-height: normal;
}
