.filterBar {
    justify-content: center;
    padding: var(--spacing-medium-large);
    background-color: var(--color-background-meta);
    display: flex;
    border-radius: 25px;
}

.buttonBar {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    background: transparent;
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    font-weight: 600;
}

.loadCollection {
    border: 0;
    border-radius: 0;
    display: inline-block;
    cursor: pointer;
    -webkit-appearance: none;
    font-family: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: inherit;
}

.filterButton {
    background-color: transparent;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
    padding: 10px 15px;
}

.filterButtonActive {
    background-color: #00a7e1;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
    padding: 10px 15px;
    color: #fff;
}