.cartPage {
  @media (min-width: 60em) {
    margin-top: var(--spacing-extra-extra-extra-large);
    margin-bottom: calc(var(--space-outer) * 2);
  }
}

.cartContainer {
  max-width: var(--max-width);
  padding: 0 var(--space-outer);
  margin: 0 auto;
  width: 100%;
}

.cartHeader {
  @media (min-width: 45em) {
    margin-bottom: var(--spacing-extra-extra-large);
  }

  font-size: var(--font-size-heading-1-base);
  line-height: var(--line-height-heading-1-base);
  position: relative;
  width: 100%;
  max-width: var(--header-width);
  display: flex;
  flex-direction: column;
  margin: 0 auto var(--spacing-large);
  align-items: center;
}

.cartFormHeader {
  @media (min-width: 45em) {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: var(--spacing-small);
    opacity: 0.75;
  }
}

.headerQuantity {
  margin-left: auto;
  width: 100px;
  text-align: center;
}

.headerTotal {
  @media (min-width: 60em) {
    width: 140px;
  }
  text-align: right;
}

.cartItem {
  @media (min-width: 45em) {
    margin: var(--spacing-large) 0;
  }
  width: 100%;
  display: flex;
  margin: var(--spacing-medium) 0;
}

.cartItemImageWrapper {
  @media (min-width: 45em) {
    width: 120px;
    height: 120px;
  }
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .image {
    display: block;
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
}

.cartItemMain {
  @media (min-width: 45em) {
    flex-wrap: nowrap;
    width: calc(100% - 280px);
  }

  width: 100%;
  flex-shrink: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 2px;
}

.cartItemDetails {
  @media (min-width: 60em) {
    padding-left: var(--spacing-large);
  }

  @media (min-width: 45em) {
    width: calc(100% - 112px);
  }

  width: 100%;
  flex-shrink: 0;
  padding-left: var(--spacing-medium);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productName {
  font-weight: bold;
}

.cartItemPrice {
  font-size: var(--font-size-body-base);
  line-height: var(--line-height-body-base);
}

.cartItemQuantity {
  @media (min-width: 45em) {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 0;
    padding-left: 0;
  }

  text-align: center;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: var(--spacing-small);
  padding-left: var(--spacing-medium);
}

.cartItemQuantitySelector {
  height: var(--height-input);
  display: inline-flex;
  border: 1px solid var(--color-border-input);
  border-radius: 3px;
  transition: border-color 0.3s ease-in-out;
}

.cartItemButton {
  height: var(--height-input);
  align-items: center;
  cursor: pointer;
  color: var(--color-text);
  display: flex;
  background-color: transparent;
  border: 0;
  transition: background-color 0.25s ease-in-out;
  width: 40px 48px;
}

.minusButton {
  padding: 10px 8px;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.input {
  width: 50px;
  border: 0;
  overflow: visible;
  text-align: center;
  display: inline-block;
  border-radius: 0;
  border: 1px solid #000;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  font-weight: var(--font-body-weight);
  background-color: transparent;
  color: inherit;
  -webkit-appearance: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.cartItemTotal {
  @media (min-width: 60em) {
    width: 140px;
  }

  @media (min-width: 45em) {
    display: block;
  }

  display: none;
  text-align: right;
  width: 100px;
  padding-left: var(--spacing-medium);
  flex-shrink: 0;
  font-size: var(--font-size-body-base);
  line-height: var(--line-height-body-base);
}

.cartFoorter {
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: var(--spacing-large);
}

.cartFooterLeft {
  @media (min-width: 45em) {
    width: 35%;
  }
  width: 100%;
}

.cartFooterRight {
  @media (min-width: 45em) {
    width: 65%;
  }
  text-align: right;
  width: 100%;
  margin-bottom: var(--spacing-large);
}

.totalNumber {
  font-size: var(--font-size-heading-4-base);
  line-height: var(--line-height-heading-4-base);
}

.footerAction {
  margin-top: var(--spacing-medium);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.submit {
  @media (min-width: 45em) {
    padding: 16px 28px;
    font-size: var(--font-size-body-small);
    line-height: var(--line-height-body-small);
  }
  border: none;
  cursor: pointer;
  background-color: #00a7e1;
  color: #ffffff;
  text-transform: var(--button-style);
  letter-spacing: 0.01em;
  font-weight: var(--font-body-bold-weight);
  border-radius: var(--button-shape);
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
  margin-left: var(--spacing-small);
  font-size: var(--font-size-body-x-small);
  line-height: var(--line-height-body-x-small);
  padding: 12px 24px;

  &:hover {
    border-color: var(--color-background-button-hover);
    background-color: var(--color-background-button-hover);
  }
}
