@import "../../../styles/main.scss";

.bannerSection {
    width: 100%;
}

.bannerContainer {
    width: 100%;
}

@keyframes slideInFromLeft {
    0% {
     opacity: 0.7;
      transform: scale(1.1)
    }
    100% {
        opacity: 1;
      transform: scale(1);
    }
  }

@keyframes downToUp {
    0% {
         transform: translateY(100px)
       }
       100% {
        transform: translateY(0px)
       }
}

.bannerImg {
    // background-image: url("../../../assets/banner.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    opacity: 0.8;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.bannerTransition {
    opacity: 1;
    transition: all .2s ease;
}

.bannerContent {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 45px;
    --max-width-content: 40rem;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}


.bannerContentInner {
    position: relative;
    z-index: 2;
    width: 100%;
    animation: 1s ease-out 0s 1 downToUp;
    // animation: 1s ease-out 0s 1.5 downToUp;

    @media (min-width: 60em) {
        width: 50%;
    }
}

.heading {
    transform: translateY(0px);
    opacity: 1;
    text-shadow: 0px 4px 6px rgba(0,0,0, 0.1);
    font-family: "Nunito Sans", sans-serif;
    font-family: var(--font-heading);
    font-weight: var(--font-heading-weight);
    font-style: var(--font-heading-style);
    letter-spacing: var(--font-heading-base-letter-spacing);
    color: #ffffff;
    font-size: 36px;

    @media (min-width: 60em) {
        font-size: var(--heading-font-size);
    }
}

.subHeading {
    text-shadow: 0px 4px 6px rgba(0,0,0, 0.06);
    margin-top: 16px;
    color: #ffffff;
}

.buttonWrapper {
    display: inline-flex;
    margin: 10px;
}

.button {
    box-shadow: 0 4px 6px rgba(0,0,0,var(--text-shadow-amount-lesser));
    border-color: #1a3b70;
    background-color: var(--color-background-button);
    color: var(--color-text-button);
    text-transform: var(--button-style);
    letter-spacing: .01em;
    font-weight: var(--font-body-bold-weight);
    border-radius: var(--button-shape);
    transition: border-color .25s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out;
    padding: 22px 40px;
}

.marqueeHorizontal {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    height: 40px;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #1a3b6f;
}

.trackHorizontal {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee-horizontal 40s linear infinite;
}

.marqueeText {
    margin-right: 50px;
    display: inline-block;
    flex: 0 0 auto;
    color: #fff;
    text-transform: capitalize;
}
